.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2 
        = @title
      %p Welcome to your journey to a stronger and healthier you!!! We are excited for you!!!
      %p Crowley Family Medicine is delighted to introduce a new 12 month weight loss program to assist patients in achieving at least a 5 % body weight loss goal within 6 months by eating healthier, exercising, and staff motivation.
      %p Advantages of the program
      %ul
        %li Weight loss
        %li Increase strength
        %li Better self image
        %li Improve health
        %li Better nutrition
        %li Improve quality of life
      %p This website is designed to assist you in this weight loss program. You will be able to monitor your food and exercise in this website.
      %p We are very delighted that you have chosen us to assist you with your goals.
    %h2 Meet the team
    #div
      #div.profile
        %h3 Elina Maharjan
        %h6 Contributions: Pilot Program and Intervention

      #div.profile
        -#%a.profile-picture{:href => "#"}
        -#  %img.thumbnail{:alt => "", :src => "/images/nancy.jpg"}
        %h3 Nancy L. Opperman
        %h6 Contributions: Literature Review

      #div.profile
        %h3 Daisy Segundo
        %h6 Contributions: Literature Review and Brochure

      #div.profile
        %h3 Julie Riseman
        %h6 Contributions: Intervention and Brochure

      #div.profile
        %h3 Emily Stewart
        %h6 Contributions: Budget and Progam Evaluation



%script{:src => "/javascripts/jquery-1.7.js", :type => "text/javascript"}
%script{:src => "/javascripts/jquery.bxSlider.min.js", :type => "text/javascript"}
:javascript
  $(document).ready(function(){
    $('#members').bxSlider(
    {
      ticker: true,
      tickerSpeed: 2500
    }
    );
  });