.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2
        = @title
      %p.picture 
        %img{:src=>"images/aama.jpg", :alt=>"loseit", :style=>"text-align:center; height:300px; border: 2px solid #000000;"}
      %p Mother, the strongest word in the whole world wide, is a very strong woman of eveyone's life. A Nepali women does not have easily life when he is trying to raise kids in the worst possible place where there is no good school, no good food, no good health. She and her kids need these basic amenities to survive the life.
      %p Give thanks to you mother and give thanks by helping other mother help their kids towards their life. 
  
