.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2
        = @title
      %p.picture 
        %img{:src=>"images/aama.jpg", :alt=>"loseit", :style=>"text-align:center; height:300px; border: 2px solid #000000;"}
      %p The Journey begins here
      %p
  
