.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2
        = @title
      %p Are you older than 18-65? Is your BMI between 30-50? Do you have at least one cardiac risk factor? Are you interested in losing weight and reducing your risk factor?
      %br
      %p If yes, Crowley Family Medicine at Burlseon, TX has staffs that can help.
      %p Our weight loss interventions include
      %ul
        %li Nutritional planning
        %li Exercise
        %li Behavioral interventions
        %li Web based or written track progress
        %li Staff support
        %li Education on nutritional intake requirement
      %br
      %p.picture
        %img{:src=>"images/aama.jpg", :alt=>"loseit", :class => "picture", :style=>"text-align:center; height:300px; border: 2px solid #000000;"}
      %br

  
