.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %div.exerciselinks
        = link_to 'Cancel', @diet
      %h3 Editing Diet
      %br
      - if current_user.admin? || current_user.id == @exercise.user_id
        = render 'form'
      - else
        %p You do not have permission to edit this data.
