.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %div.exerciselinks
        = link_to 'Edit', edit_exercise_path(@exercise)
      %p#notice= notice
      - if current_user.admin? || current_user.id == @exercise.user_id
        %p
          %b Activity Type:
          = @exercise.activity
        %p
          %b Duration minutes:
          = @exercise.duration_minutes
      - else
        %p You do not have permission to view this data.
